@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@mixin body-font() {
  font-family: 'Open Sans';
}

@mixin heading-font() {
  font-weight: 700;
  font-family: 'Dancing Script';
}
