 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>Professional Background</h4>
                    <p>With over 10 years of experience in software engineering, I worked with many different programming languages and frameworks. My core expertise is Swift but I am always excited to expand my skill set.</p>

                    <h4>International Experience</h4>
                    <p>Since 2017, I have been living and working in the Netherlands, which has broadened my perspective and enhanced my ability to work in diverse, multicultural environments. Prior to this, I lived and worked in São Paulo, Brazil.</p>
                </div>
                <div class="col-lg-4">
                    <h4>Progressive Mindset</h4>
                    <p>I approach both my work and worldview with a progressive mindset. I believe in creating technology that positively impacts society, promotes inclusivity, and contributes to a more equitable world.</p>

                    <h4>Seeking a Positive Work Environment</h4>
                    <p>I am specifically seeking opportunities with smaller, more agile organizations. I believe these environments often foster more creativity, allow for greater individual impact, and maintain a healthier work-life balance.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="cv.html" class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-file-text"></i> View CV
                    </a>
                </div>
            </div>
        </div>
    </section>