<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BankApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7D11EFC8BB1FE3E339120CCE5527132AF8853D72</string>
				<key>dateExpires</key>
				<string>20/08/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XQN3A35EM8.io.github.vitorventurin.BankApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XQN3A35EM8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XQN3A35EM8.io.github.vitorventurin.BankApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>BankApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6587b5bf-c1ad-4a54-ba27-c7b17be6b042</string>
				<key>name</key>
				<string>io.github.vitorventurin.BankApp.AdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XQN3A35EM8</string>
				<key>name</key>
				<string>Vitor Linhalis</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
